<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047294349653-h4pnv3rn0uivemt9rndb8e3c0rfp4r29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047294349653-h4pnv3rn0uivemt9rndb8e3c0rfp4r29</string>
	<key>API_KEY</key>
	<string>AIzaSyAGbS8w4_k7rSSzJHYqKQcnFhh065Jj_pk</string>
	<key>GCM_SENDER_ID</key>
	<string>1047294349653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterdemo</string>
	<key>PROJECT_ID</key>
	<string>schoolables-17abe</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolables-17abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047294349653:ios:21a0f10be7b5b292e61fdc</string>
</dict>
</plist>